<a href="https://colab.research.google.com/github/Lucas-Petrus/DS-Unit-1-Sprint-2-Statistics/blob/master/Lucas_Petrus_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-06-08 20:27:43--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.03s

2020-06-08 20:27:43 (831 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

In [0]:
column_headers = ['symboling','normalizied-losses','make','fuel_type','aspiration','num-of-doors','body-style',
                  'drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type',
                  'num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm',
                  'city-mpg','highway-mpg','price']

df = pd.read_csv('imports-85.data.1', names=column_headers)

df.head()

   symboling normalizied-losses         make  ... city-mpg highway-mpg  price
0          3                  ?  alfa-romero  ...       21          27  13495
1          3                  ?  alfa-romero  ...       21          27  16500
2          1                  ?  alfa-romero  ...       19          26  16500
3          2                164         audi  ...       24          30  13950
4          2                164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [0]:
df.mean()

symboling               0.834146
wheel-base             98.756585
length                174.049268
width                  65.907805
height                 53.724878
curb-weight          2555.565854
engine-size           126.907317
compression-ratio      10.142537
city-mpg               25.219512
highway-mpg            30.751220
dtype: float64

In [0]:
df = df.replace({'?':np.NaN})
df.head()

   symboling normalizied-losses         make  ... city-mpg highway-mpg  price
0          3                NaN  alfa-romero  ...       21          27  13495
1          3                NaN  alfa-romero  ...       21          27  16500
2          1                NaN  alfa-romero  ...       19          26  16500
3          2                164         audi  ...       24          30  13950
4          2                164         audi  ...       18          22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [0]:
df_sample = df.sample(10, random_state=30)
df_sample.head()

     symboling normalizied-losses           make  ... city-mpg highway-mpg  price
121          1                154       plymouth  ...       31          38   6692
176         -1                 65         toyota  ...       27          32  10898
24           1                148          dodge  ...       31          38   6229
88          -1                137     mitsubishi  ...       23          30   9279
72           3                142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

In [0]:
df_sample['highway-mpg'].mean()

32.8

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [0]:
stats.ttest_1samp(df_sample['highway-mpg'], 35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [0]:
#Due to a tstatistic of -.95 and a pvalue of .36 we fail to reject the null hypothesis that the salesman cars he sells
#typically have a fuel efficieny of 35 mpg

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [0]:
df_sample2 = df.sample(100, random_state=30)

stats.ttest_1samp(df_sample2['highway-mpg'], 35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [0]:
#Due to a tstatistic of -6.5 and a pvalue of 3.00 i conclude that we reject the null hypothesis that the salesman car
#he sells will typically have a 35mpg

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

it is due to the sample size. As our sample size increases we can more accurately describe the datasets we are delt

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-06-08 20:26:55--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-06-08 20:26:55 (632 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
column_headers2 = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df2 = pd.read_csv('house-votes-84.data', names=column_headers2)

df2.head(10)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y
5    democrat                   n             y  ...     y         y            y
6    democrat                   n             y  ...     y         y            y
7  republican                   n             y  ...     y         ?            y
8  republican                   n             y  ...     y         n            y
9    democrat                   y             y  ...     n         ?            ?

[10 rows x 17 columns]

In [0]:
df2 = df2.replace({'y': 1, 'n':0, '?':np.NaN})
df2.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
dem = df2[df2['party'] == 'democrat']
rep = df2[df2['party'] == 'republican']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [0]:
#Null Hypothesis: the two sample means are equal. Republican support this bill at the same rate that Democrats do.
#Alternative Hypothesis: They do not support this bill equally

stats.ttest_ind(dem['budget'], rep['budget'], nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [0]:
#Based on the tstatisic of 23.2 and the pvalue of 0 we reject the null hypothesis that democrats vote yes on budget 
#bill at the same rate republicans

In [0]:
#Null Hypothesis: the two sample means are equal. Republican support this bill at the same rate that Democrats do.
#Alternative Hypothesis: They do not support this bill equally

stats.ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], nan_policy='omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [0]:
#Based on the tstatisic of 49.36 and the pvalue of 0 we reject the null hypothesis that republicans vote yes on physician fee freeze
#bill at the same rate democrats

In [0]:
#Null Hypothesis: the two sample means are equal. Republican support this bill at the same rate that Democrats do.
#Alternative Hypothesis: They do not support this bill equally

stats.ttest_ind(dem['water-project'], rep['water-project'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
#Based on the tstatistic of -.088 and the pvalue of .929 we accept the null hypothesis that democrats and repubilicans 
#vote on this bill at the same rate

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE